<div class="container-fluid p-0">
  <div class="main-banner">
    <div class="container">
      <div class="row main-content">
        <div class="col-md-6">
          <h2>Lorem Ipusam Business</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="btn-group">
            <div class="btn btn-outline-info">Get Started</div>
            <div class="ml-2 btn btn-primary">Sample</div>
          </div>
        </div>
        <div>
          <img
            src="assets/images/banner.jpg"
            height="300px"
            class="img-responsive img-banner"
          />
        </div>
      </div>
    </div>
  </div>
</div>
